<% provide(:title, 'Log-in')%>
<h1>log-in new session</h1>


<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Log-in'%>
  </div>
<% end %>

<p>New user <%= link_to 'Sign-up now!', signup_path %></p>

