<section class="article_editor">
  <%= form_with(model: article, local: true) do |form| %>
    <div class="editor_article_content">

              <div class="field">
                <%= form.label :text, placeholder: "Add your content here!" %>
                <%= form.text_area :text %>
              </div>

    </div>
    <div class="editor_article_header">
      <h1><%= form_title %></h1>
    </div>
    <div class="editor_article_toolbox">
      <div class="editor_article_toolbox_container">
        
        <div class="form_fields">
              <div class="field">
                <%= form.label :image, 'Upload the Article image!' %>
                <%= form.file_field :image %>
              </div>

              <div class="field">
                <%= form.label :title %>
                <%= form.text_field :title %>
              </div>

              <div class="field">
                <%= form.label :category_id, 'category'%>
                <%=
                  form.select :category_id,
                    options_from_collection_for_select(
                      Category.priority_sorted, :id, :name
                      ),
                  prompt: true,
                  :selected => 1
                %>
              </div>

              <div class="actions">
                <%= form.submit %>
              </div>
        </div>

      </div>

    </div>
  <% end %>
</section>



