<%= form_with(model: article, local: true) do |form| %>
  <%= render 'shared/error_messages', my_model: article %>

  <div class="field">
    <%= form.label :image, 'Upload the Article image!' %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>


  <div class="field">
    <%= form.label :category_id, 'category'%>
    <%=
      form.select :category_id,
        options_from_collection_for_select(
          Category.priority_sorted, :id, :name
          ),
      prompt: true,
      :selected => 1
    %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
