<h1>Sign-up new user</h1>


<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'shared/error_messages', my_model: @user %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create my account'%>
  </div>
<% end %>


<%= link_to 'Back to users', users_path %>
