<% provide(:title, 'Categories')%>

<section class="all_categories">

  <% @categories.each_with_index do |category, index| %>

    <div class="category_caption">

      <% if category.latest_article.present? %>

        <div class="category_img img<%= index %>" style=" background-image: url(<%= category.latest_article %>);">
            <%= category.name %>
        </div>

        <div class="category_content content<%= index %>">
          <p class="category_name">
            <%= link_to category_path(category) do %>
                <%= category.name %>
            <%end%>
          </p>
          <p class="category_hero_title"><%= category.latest_article.title %></p>
          <p class="category_hero_content">
              <%= truncate(category.latest_article.text, :omission => "...", :length => 100) %>
          </p>
        </div>

      <% else %>
        <div class="category_img img<%= index %>" style=" background-image: url(<%= asset_path("default.jpg") %>);">
            <%= category.name %>
        </div>
        <div class="category_content content<%= index %>">
          <p class="category_name">
            <%= link_to category_path(category) do %>
                <%= category.name %>
            <%end%>
          </p>
          <p class="category_hero_title">More articles soon in this category ...</p>
        </div>
      <% end %>

    </div>

  <% end %>



</section>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.priority %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
