<% provide(:title, @category.name )%>

<section class="category_section">

    <% if @articles.empty? %>

        <div class="category_caption">
          <div class="category_img">
            <%= image_tag(asset_path('default.jpg')) %>
          </div>
          <div class="category_content">
            <p class="category_name">
              <%= link_to categories_path do %>
                  <%= @category.name %>
              <%end%>
              <p class="category_hero_title">More articles soon in this category ...</p>
            </p>
          </div>
        </div>

    <% else %>
      <% @articles.each_with_index do |article, index| %>

        <div class="category_caption">
          <div class="category_img" style="background-image: url(<%= article.image %>);">
            <%= image_tag(article.image) %>
          </div>
          <div class="category_content">
            <p class="category_name">
              <%= link_to categories_path do %>
                  <%= @category.name %>
              <%end%>
              <p class="category_hero_title"><%= article.title %></p>
              <p class="category_hero_content">
                  <%= truncate(article.text, :omission => "...", :length => 100) %>
              </p>
              <p class="caption_foot">
                <%= link_to 'Read more..', article_path(article) %>
                <div class="votes">
                  <%= article.votes_count %> votes |

                  <%= link_to 'like', article_vote_path(article), method: :post%>

                  <%= link_to 'Dislike', article_vote_path(article), method: :delete %>
                </div>
              </p>
            </p>
          </div>
        </div>

      <% end %>
    <% end %>

</section>
