<% provide(:title, 'Category')%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>

<% @articles.each do |article| %>

<p> <% article.title %> | <%= link_to 'Read Article', article_path(article) %> </p>

<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
